@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&family=Lato:ital,wght@0,400;0,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ec5242;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

#header {
  position: relative;
  top: 0;
  width: 100%;
  height: 100px;
  box-shadow: 0 1px 2px rgba(78, 49, 49, 0.05);
}

.social-header {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  width: 100%;
  background: #272a31;
  gap: 20px;
  align-items: center;
  padding-inline: 13.2vw;
}

.social-header img {
  height: 18px;
  width: auto;
}

.social-header a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  font-size: 18px;
  padding: 14px 24px;
  align-items: center;
}

.desk_nav {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
  gap: clamp(0.65vw, (100vw - 900px) * 1000, 32px);
  padding-right: 12rem;
}

.square {
  border: 5px solid red;
}

.menu-icon {
  display: none;
}

#close-menu {
  display: none;
}

.desk_nav li a {
  color: #272a31;
}

.logo {
  display: flex;
  flex-direction: column;
  padding-left: 10rem;
  padding-top: 1.5rem;
}

.headline {
  background-image: url("images/hero-bg-desktop.png");
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
}

.headline_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;

  /* width: 920px;
  margin: 10rem; */
}

h2 {
  /* margin-top: 10rem; */
  padding: 50px 650px;
  font-size: 52px;
  color: #ec5242;
  background-image:
    linear-gradient(
      -225deg,
      #a01e10 0%,
      #2a0c4b 29%,
      #ec5242 67%,
      #ec5242 100%
    );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  justify-content: center;
}

.line {
  align-self: center;
}

.description {
  color: #272a31;
  line-height: 3rem;
  font-size: 24px;
  background-color: #d3d3d300;
  box-shadow: 2px 2px 6px #b4aeae;
  max-width: 50%;
  border-radius: 4px;
  padding: 18px 2px;
  opacity: 5;
  align-self: center;
  border: 3px solid #d3d3d3;
  text-align: center;
}

.venue {
  font-size: 24px;
  padding: 50px 650px;
}

.link-venue {
  font-size: 18px;
  font-weight: bolder;
  color: #272a31;
  align-self: center;
  padding-bottom: 100px;
}

.logo-section {
  display: flex;
  padding-block: 33px;
  flex-flow: column;
  text-align: center;
  align-items: center;
  gap: 35px;
  padding-inline: 10.5px;
  border-bottom: 2px solid #fafafa;
  font-weight: 700;
}

.ict-logo {
  color: #272a31;
  margin: 20px;
  align-self: center;
  text-align: center;
  font-size: 24px;
}

.about-logo {
  width: 50%;
  color: #272a31;
  font-size: 18px;
}

.pass-section {
  display: flex;
  padding-block: 33px;
  flex-flow: column;
  text-align: center;
  align-items: center;
  gap: 35px;
  padding-inline: 10.5px;
  border-bottom: 2px solid #fafafa;
  font-weight: 700;
  margin-top: 30px;
  border-top: 1px solid #d3d3d3;
}

.pass-meet {
  flex-flow: column;
  gap: 35px;
  justify-content: center;
}

.pass-conf {
  color: #272a31;
  margin: 20px;
  align-self: center;
  text-align: center;
  font-size: 24px;
}

.partner-section {
  display: none;
  background-color: #272a31;
  color: #d3d3d3;
  text-align: center;
  font-size: 24px;
  width: 100%;
  padding: 40px;
}

.partner-ul {
  display: flex;
  gap: 50px;
  margin: auto;
  width: 33%;
  padding-top: 10px;
  text-decoration: line-through;
  font-size: 24px;
}

.partner-li {
  padding: 30px 0;
}

footer {
  width: 100%;
  height: 15rem;
  padding: 80px 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-direction: row;
}

.about-footer {
  background: #272a31;
}

.white-footer {
  color: #d3d3d3;
}

.mobile-lists {
  display: none;
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #ec5242;
  }

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
  }

  #header {
    display: none;
  }

  .logo {
    display: none;
  }

  .menu-icon {
    display: block;
    font-size: 40px;
    padding: 1%;
    color: black;
    margin-right: 24rem;
  }

  .headline {
    background-image: url("images/hero-bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .headline_container {
    margin-right: 0;
  }

  h2 {
    padding: 50px 40px;
    font-size: 24px;
    color: #ec5242;
    justify-content: center;
  }

  .description {
    color: #272a31;
    font-size: 18px;
    font-weight: 500;
    min-width: 80%;
    background-color: #d3d3d3;
    box-shadow: 2px 2px 6px #b4aeae;
    border-radius: 4px;
    opacity: 5;
    border: 3px solid #d3d3d3;
    text-align: center;
    line-height: 2rem;
  }

  .venue {
    margin-top: 16px;
    font-size: 14px;
    padding: 0 50px;
    text-align: center;
  }

  .link-venue {
    font-size: 24px;
    font-weight: bolder;
    color: #272a31;
    text-align: center;
    max-width: fit-content;
  }

  .logo-section {
    display: flex;
    padding-block: 33px;
    flex-flow: column;
    text-align: center;
    gap: 35px;
    padding-inline: 10.5px;
    border-bottom: 2px solid #fafafa;
    font-weight: 700;
  }

  .ict-logo {
    color: #272a31;
    text-align: center;
    font-size: 24px;
  }

  .about-logo {
    color: #272a31;
    font-size: 18px;
  }

  .pass-section {
    display: flex;
    align-items: center;
  }

  .pass-meet {
    flex-flow: row;
    gap: 45px;
    justify-content: center;
  }

  .pass-conf {
    color: #272a31;
    margin: 20px;
    text-align: center;
    font-size: 24px;
  }

  .partner-section {
    display: flex;
    flex-direction: column;
    background-color: #272a31;
    color: #d3d3d3;
    font-size: 24px;
  }

  .partner-ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    text-decoration: line-through;
    font-size: 24px;
    width: 100%;
  }

  .partner-title {
    color: #d3d3d3;
  }

  footer {
    height: 10rem;
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 100px;
    background: #d3d3d3;
  }

  .about-footer {
    background: #d3d3d300;
  }

  .white-footer {
    color: #272a31;
    margin-top: 40px;
  }

  .mobile-lists {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    padding-left: 40px;
    margin-top: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(21, 22, 30, 0.7);
    background-color: rgba(30, 31, 37, 0.8);
    backdrop-filter: blur(5px);
    font-family: "Lato", sans-serif;
    transition: all 0.3s linear;
  }

  .mobile-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    width: 80%;
    font-size: 2rem;
  }

  .mobile-list a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    align-self: flex-start;
  }

  .close-icon {
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    left: 25rem;
  }
}
